 /* micro reset begin */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
 /* micro reset end */

.body {
  background-color: #2c2141;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.main {
  background: #f8f8f8;
  border-radius: 16px;
  width: 624px;
  margin: 16px;
  padding: 32px;
}

.person {
    display: flex;
    justify-content: flex-start;
}

.person__description {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* or 137% */
  color: #000000;
  margin: 0px;
  padding-bottom: 22px;
}

.person__description--web {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* or 137% */
  color: #000000;
  margin: 0px;
}

.person__name {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 41px;
  color: #000000;
  margin: 0px;
}

.person__picture {
  border-radius: 50%;
  width: 148px;
  height: 148px;
  padding-right: 32px;
}

.person__position {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #545454;
  margin: 0px;
  padding-bottom: 24px;
}
